<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-8">
      <h2>Reset Password</h2>

      <div *ngIf="isLoading">
        <p>Loading ...</p>
      </div>

      <div *ngIf="!isLoading && !isValid" class="liveFeedArea">
        <p>
          Your link is invalid, please confirm the link is correct in your email
        </p>
      </div>

      <div *ngIf="!isLoading && isValid" class="liveFeedArea">
        <div class="feedRow">
          <h3>Please enter your new password.<br /></h3>
          <form [formGroup]="resetPasswordForm">
            <div class="form-row py-3">
              <div class='col-6'>
                <label class="m-0">New Password:</label>
              </div>
              <div class='col-6'>
                <div class="input-group"
                  [class.border-danger]="lf.password.invalid && (lf.password.dirty || lf.password.touched)"
                  [class.border-success]="lf.password.valid && (lf.password.dirty || lf.password.touched)"
                >
                  <input name="password" type="password" class="input form-control border-0" formControlName="password" id="password" placeholder="Password"/>
                  <div class="input-group-append">
                    <span class="input-group-text border-0 bg-white" (click)="password_show_hide('password')">
                    <i class="fas fa-eye" id="password_show_eye"></i>
                    <i class="fas fa-eye-slash d-none" id="password_hide_eye"></i>
                    </span>
                  </div>
                </div>				
                <div *ngIf="lf.password.invalid && (lf.password.dirty || lf.password.touched)"
                  class="help-block mt-1 text-danger">
                  <div *ngIf="lf.password.errors.required">
                    * Password is required.
                  </div>
                  <div *ngIf="lf.password.errors.minlength">
                    * Password must be at least 6 charaters.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class='col-6'>
                <label class="m-0">Confirm New Password:</label>
              </div>
              <div class='col-6'>
                <div class="input-group"
                  [class.border-danger]="lf.confirm.invalid && (lf.confirm.dirty || lf.confirm.touched)"
                  [class.border-success]="lf.confirm.valid && (lf.confirm.dirty || lf.confirm.touched)"
                >
                  <input name="confirm" type="password" class="input form-control border-0" formControlName="confirm" id="confirm" placeholder="Confirm Password"/>
                  <div class="input-group-append">
                    <span class="input-group-text border-0 bg-white" (click)="password_show_hide('confirm')">
                    <i class="fas fa-eye" id="confirm_show_eye"></i>
                    <i class="fas fa-eye-slash d-none" id="confirm_hide_eye"></i>
                    </span>
                  </div>
                </div>				
                <div *ngIf="lf.confirm.invalid && (lf.confirm.dirty || lf.confirm.touched)"
                  class="help-block mt-1 text-danger">
                  <div *ngIf="lf.confirm.errors.newMatchesConfirm">
                    * The confirmation does not match.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row mt-3">
              <div class="col-9">
                <p *ngIf="errorMessage" class="error-message">
                  {{ errorMessage }}
                </p>
              </div>
              <div class="col-2">
                <input
                  type="button"
                  class="btn btn-primary"
                  value="Reset Password"
                  (click)="resetPassword()"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .feedRow {
    line-height: 24pt;
    border: solid 1px black;
    padding: 10px;
  }
  .liveFeed {
    overflow: scroll;
  }
  div.liveFeedArea > div:nth-of-type(odd) {
    background: #e0e0e0;
  }
  .eventInfo {
    width: 60%;
    border: 1px solid #aaa;
    height: 150px;
    padding: 10px;
  }
  .eventInfo input {
    width: 100%;
    border: 1px solid #aaa !important;
  }
  .liveFeed {
    width: 40%;
    border: solid 1px #aaa;
    height: 150px;
    padding: 10px;
  }
</style>
