<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title></title>
  <link
    href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap"
    rel="stylesheet"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>
<body>
<div class="container">
  <div class="content-container">
    <div class="active-users-panel" id="active-user-container">

      <h3 class="panel-title">Active Users</h3>
        <ul class="sockets">
          <li *ngFor="let user of users" [ngClass]="{'active-user--selected' : user === currentSelected }" (click)="callUser(user)">
            <span *ngIf="user === socketId">You: </span>{{ user }}
          </li>
        </ul>
        <div class="chat">
          <ul>
            <li *ngFor="let msg of messages"><span *ngIf="msg.sender === socketId">You: </span><span class="sender">{{ msg.sender }}:</span> {{ msg.message }}</li>
          </ul>
          <input type="text" class="sendInput" name="message" [(ngModel)]="message"><button (click)="sendMessage()">Send</button>
        </div>
    </div>
    <div class="video-chat-container">
      <div class="video-container">
        <video autoplay class="remote-video" id="remote-video-1"></video>
        <video autoplay class="remote-video" id="remote-video-2"></video>
        <video autoplay class="remote-video" id="remote-video-3"></video>
        <video autoplay class="remote-video" id="remote-video-4"></video>
        <video autoplay class="remote-video" id="remote-video-5"></video>
        <video autoplay class="remote-video" id="remote-video-6"></video>
        <video autoplay muted class="local-video" id="local-video"></video>
      </div>
    </div>
  </div>
</div>
</body>
</html>
