@font-face {
    font-family: "HKGrotesk";
    src: local("HKGrotesk"), url(../fonts/HKGrotesk/HKGrotesk-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "HKGrotesk";
    src: local("HKGrotesk"), url(../fonts/HKGrotesk/HKGrotesk-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "HKGrotesk";
    src: local("HKGrotesk"), url(../fonts/HKGrotesk/HKGrotesk-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "HKGrotesk";
    src: local("HKGrotesk"), url(../fonts/HKGrotesk/HKGrotesk-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HKGrotesk";
    src: local("HKGrotesk"), url(../fonts/HKGrotesk/HKGrotesk-Light.ttf) format("truetype");
    font-weight: lighter;
    font-style: normal;
}