<div class="modal-header">
    <h3 class="modal-title m-0">Session Selection</h3>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                Session
            </div>
            <div class="col-md-8">
                <select name="session" class="form-control" [(ngModel)]="_sessionData.name">
                    <option [value]="session.name" *ngFor="let session of sessionList">{{session.name}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer border-0">
    <div class="container-fluid">
        <div class="row m-0">
            <div class="col-12 p-0 d-flex align-items-center justify-content-between">
                <button class="btn btn-primary text-uppercase" color="primary" (click)="save()"> Save </button>
                <button class="btn btn-primary text-uppercase" color="primary" (click)="closeModal()"> Cancel </button>
            </div>
        </div>
    </div>
</div>