<div class="row px-3 px-lg-5">
    <div class="col-12 px-0 px-md-4">
        <div class="row">
            <div class="col-12 p-0">
                <div class="d-flex align-items-center justify-content-between">
                    <h1 class="title font-weight-bold m-0">
                        Questions <i class="fas fa-plus ml-2" *ngIf="pageType !== 'view'" (click)="createQuestion()"></i>
                    </h1>
                    <a class="btn importBtn" (click)="importQuestions()">
                        Import <br> Questions
                    </a>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="regtypeSection d-flex align-items-center">
                        <label class="mr-3"> Reg type </label>
                        <select class="form-control" [formControl]="regtypeControl">
                            <option value="" disabled> - Select - </option>
                            <option *ngFor="let regtype of regtypesList; let i = index" value="{{ regtype.description }}">
                                {{ regtype.description }}
                            </option>
                        </select>
                    </div>
                    <div class="d-flex align-items-center">
                        <button class="btn btn-primary mr-2" (click)="selectAllItems()">Select/Deselect All</button>
                        <button class="btn btn-primary" [disabled]="disableDeleteBtn()" (click)="deleteSelectedItems()">Delete Items</button>
                    </div>   
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 p-0">
                <div class="questionsTable table-responsive">
                    <table class="table table-striped text-center" *ngIf="questionElements?.length > 0">
                        <thead>
                            <tr>
                                <th> ID </th>
                                <th> Name </th>
                                <th> Question </th>
                                <th> Additional Info Name </th>
                                <th> Additional Info Value </th>
                                <th> Categories </th>
                                <th> Polling Type </th>
                                <th style="cursor: pointer;" [appSort]="questionElements" data-order="desc" data-name="chooseResponse" scope="col"> Choose Response <i class="fas fa-angle-down"></i></th>
                                <th class="actions border-0" *ngIf="pageType !== 'view'"> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let question of questionElements; let i = index">
                                <td class="id">
                                    <input type="checkbox" [disabled]="pageType === 'view'"
                                        [(ngModel)]="question.checked" />
                                </td>
                                <td class="name">
                                    <a href="javascript:void(0);" (click)="editQuestion(question)">
                                        {{ question.questionName }}
                                    </a>
                                </td>
                                <td class="name">
                                    <a href="javascript:void(0);" (click)="editQuestion(question)">
                                        {{ question.question }}
                                    </a>
                                </td>
                                <td class="name">
                                    <a href="javascript:void(0);" (click)="editQuestion(question)">
                                        {{ question.additionalInfoName }}
                                    </a>
                                </td>
                                <td class="name">
                                    <a href="javascript:void(0);" (click)="editQuestion(question)">
                                        {{ question.additionalInfoValue }}
                                    </a>
                                </td>
                                <td class="name">
                                    <div>
                                        {{ question.category?.length >= 2 ? question.category?.slice(0, 2)?.join(", ") : question.category }} {{ question.category?.length > 2 ? " ... " : "" }}
                                    </div>
                                </td>
                                <td class="name">
                                    <div>
                                        {{ question.pollingType }}
                                    </div>
                                </td>
                                <td class="name">
                                    <div>
                                        {{ question.responseLayout }}
                                    </div>
                                    <!-- <div> 
                                        <div *ngIf="(question.chooseResponse=='true'||question.chooseResponse==true);then chooseTrue else chooseFalse"></div>
                                        <ng-template #chooseTrue>True</ng-template>
                                        <ng-template #chooseFalse>False</ng-template>
                                    </div> -->
                                </td>
                                <td class="actions border-0" *ngIf="pageType !== 'view'">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a class="px-1" style="cursor: pointer;">
                                            <span>
                                                <i class="far fa-edit" (click)="editQuestion(question)"></i>
                                            </span>
                                        </a>
                                        <!-- <a class="px-2" style="cursor: pointer;">
                                            <span>
                                                <i class="fas fa-clone mx-2" (click)="duplicateQuestion(i)"></i>
                                            </span>
                                        </a> -->
                                        <div (click)="removeQuestion(i)" class="pointer ml-2">
                                            <i class="far fa-trash-alt"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>