<div class='row'>
    <div class='col-2'>

    </div>
    <div class='col-8'>
    
    <div class='row'>
        <div class='col-4'>
            <h3>Demographics/Goals</h3>
        </div>
        <div class='col-8'>
			<ul _ngcontent-yfs-c105="" class="nav-menu nav-menu-social text-right ">
				<li _ngcontent-yfs-c105="" class="login_click light" style='width:110px; background-color:#fff;border:1px solid rgba(100, 123, 156, 0.3) !important;'><a style='padding:5px !important;font-size:20px !important;color: #da0b4e !important;' href='pollingquestionsdetails/2801280' id='saveEvent'>Add New</a></li>
			</ul>
		</div>
    </div>
    <div class='row'>
        <table width='100%' cellspacing='3' cellpadding='5'>
            <tr>
                <td ><b>Question</b></td>
                <td ><b>Answers</b></td>
                <td><b>Default</b></td>
                <td><b>Interests</b></td>
                <td></td>
                
            </tr>
            <tr style='background-color:#fff;'>
                <td >When Number Registrations achievement
                    at least .</td>
                <td >150</td>
                <td><input type='radio'></td>
                <td>Technology, Laptop, Infrastructure, bash</td>
                <td><a href='pollingquestionsdetails/2801280'>Edit</a></td>
                
                </tr>
                <tr style='background-color:#fff;'>
                    <td >When Session Attendance achievement 
                        at least  .</td>
                    <td >150</td>
                    <td class='align-items-center'><input type='radio'></td>
                    <td>Technology, Laptop, Infrastructure, bash</td>
                    <td><a href='pollingquestionsdetails/2801280'>Edit</a></td>
                    
                    </tr>
                    <tr style='background-color:#fff;'>
                        <td >When Event and Session Engagement and Sentiment Scores achievement 
                            at least  .</td>
                        <td >150</td>
                        <td><input type='radio'></td>
                        <td>Technology, Laptop, Infrastructure, bash</td>
                        <td><a href='pollingquestionsdetails/2801280'>Edit</a></td>
                        
                        </tr>
        </table>
    </div>
</div>

</div>

<style>
    td {
        padding:5px;
    }
    li.login_click {
        border-radius: 4px;
    top: 20px;
    position: relative;
    height: 42px;
    padding: 0 5px;
    margin-left: 10px;
    width:65px;
    list-style-type: none !important;
    float:right;
    padding-top:8px;

    }
  .add, .addAll, .remove, .removeAll {
      border:solid 1px #000 !important;
      padding:5px !important;
      background-color:#aaa !important;
      width:100% !important;
  }
  .logged-in i, .logged-in span {
      font-size:18px;
  }
  
  .logged-in i:hover, .logged-in span:hover {
      cursor:pointer;
  }
  
  .subContainer {
      -webkit-border-radius: 36px 12px;
      -moz-border-radius: 36px / 12px;
      border-radius: 36px / 12px;
      box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
      min-height:150px;
      padding:10px;
      padding-bottom:15px;
  }
  .subContainer  h3 {
      padding-bottom: 15px;
  }
  .feedRow  {
    line-height: 24pt;
    border: solid 1px black;
    padding-left:5px;
  }
  
  .liveFeed {
      overflow:scroll;
  }
  div.liveFeedArea>div:nth-of-type(odd) {
    background: #e0e0e0;
  }
  .eventInfo {
      width:60%;
      border: 1px solid #aaa;
      height:150px;
      padding:10px;
  }
  .eventInfo input {
      width:100%;
      border: 1px solid #aaa !important;
  }
  .liveFeed {
      width:40%;
      border: solid 1px #aaa;
      height:150px;
      padding:10px;
  }				
  
  .myNewPin {
      font-size:26px !important;
  }
  .myNewAttendee {
      font-size:32px !important;
      z-index:200;
      color:#333;
  }
  .myARPin {
  
  }
  .myAPPin {
      color:green;
  }
  .mySPPin {
      color:blue;
  }
  .myEPPin {
      color:purple;
  }
  .myTAPin {
      color:yellow;
  }
  [type="button"] {
      border:solid 1px #000;
      padding:5px;
      background-color:#007bff;
  }
  td {
      padding-bottom:10px;
  }
  textarea {
      border: 1px solid #ccc;
  }
  select {
      border: 1px solid #ccc;
      
      
  
  }
  
  .mailing-list select {
      height:200px;
  }
  
  .mailing-list button {
      background-color: #999; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width:100px;
  }
  .no-spacing-row {
      margin:0px !important;
  }
  .left-boxes {
      float:left;
      border: solid 1px #000;
      width:100px;
      height:60px;
      padding:5px;
      margin:5px;
      padding-top:0px;
      z-index: 10;
      background-color:#fff;
  }
  
  .right-boxes {
      text-align:center;
  }
  
  .left-boxes h5, .right-boxes h5 {
      margin-top:10px;
      font-size: 16px;
      font-weight:700;
      text-align:center;
      font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  .drop {
    background-color: #cdcdcd;
    border: solid 1px #000;
    height:100px;
    width:110px;
    display:inline;
    float:left;
  }
  
  .droppedon {
      background-color:#fff !important;
  }
  .over {
    border: solid 5px yellow;
  }
  .draggable {
    border: solid 2px gray;
  }
  
  
  .label-row {
      margin-bottom:0px !important;
  }
  .selection-icons .col-3, .selection-icons .col-2 {
      text-align:center;
      background-color:'#efefef';
      border: solid 1px #000;
      border-radius: 10px;
      padding:5px;
      margin:5px;
      padding-top:15px;
  }
  .selection-icons .col-2:hover, .selection-icons .col-3:hover {
      background-color: #ccc;
  }
  .selection-icon span {
      font-size: 14px !important;
  }
  
  .col-3-clicked {
      background-color:#ccc;
  }
  
  .fa, .fas{
      font-size:28px !important;
  }
  .right-button {
      float:right;
  }
  .main-container {
      background-color:#fff;
      border-radius:10px;
      border: solid 1px #000;
      width:100%;
      padding:15px;
  }
  .icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto; 
  }
  
  .icon-bar a {
    float: left;
    text-align: center;
    width: 16.6%;
    padding: 12px 0;
    transition: all 0.3s ease; 
    color: white; 
    font-size: 36px; 
  }
  
  .icon-bar a:hover {
    background-color: #000; 
  }
  .icon-bar a span{
    color:#fff;
    font-size:10px;
    padding:5px 0 10px 0;
    display:block;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:1px;
  }
  
  .selection-bar {
    width: 100%; /* Full-width */
    overflow: auto; /* Overflow due to float */
  }
  
  .selection-icons {
      margin-top:0px !important;
  }
  
  .selection-icons a {
  
    text-align: center; /* Center-align text */
    width: 24%;
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: #3367D6;
    font-size: 68px; /* Increased font size */
  }
  .selection-icons a span{
    color:#3367D6;
    font-size:16px;
    padding:5px 0 20px 0;
    display:block;
    font-weight:bold;
    letter-spacing:1px;
    width:100%;
  }
  
  .active {
    background-color: #3367D6; /* Add an active/current color */
  }
  
  .adminTab {
   background-color: #aaa;
  }
  
  .styled-table {
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 400px;
      width:100%;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .styled-table thead tr {
      background-color: #009879;
      color: #ffffff;
      text-align: left;
  }
  .styled-table th,
  .styled-table td {
      padding: 12px 15px;
  }
  .styled-table tbody tr {
      border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
  }
  .styled-table tbody tr.active-row {
      font-weight: bold;
      color: #009879;
  }
  
  
  
  .tabs-nav-wrap {padding:10px 0; text-align: center;}
  .tabs-nav-wrap ul {display: inline-block; list-style: none;}
  
  .tabs-nav-wrap ul li {
    list-style: none;
    display: inline-block;
      width: 110px !important;
      height: 95px;
      text-align: center;
    margin:0px;
  }
  .tabs-nav li {
    list-style: none;
    display: block;
    padding:10px 20px;
    background: #736565;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    color: #fff;
    text-align: left;
    text-decoration: none;
    float:left;
    width:110px !important;
    border:1px solid #615656;
  }
  
  .tabs-nav .tab-nav-link.current,
  .tabs-nav .tab-nav-link:hover {
    border:1px solid #5eaace;
    background: #74c1e4;
  }
  
  .tab-content {
      padding:0; 
      text-align: left; 
      display:none;
      margin-left:5px;
  }
  
  label {
      font-size:14px;
      font-weight:bold;
  }

  .modal {
    display: none; /* Hidden by default */
    position:absolute;
    z-index: 100; /* Sit on top */
    left: 0;
    top:0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height:600px;
    width: 60%; 
    top:-200px;
  }
  
  
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
      
  </style>
