.modal-body {
    max-height: 70vh;
    .thumbnail {
        min-height: 300px;
        ::ng-deep canvas {
            width: 100%;
        }
    }
}
.modal-footer {
    padding: 0 16px 24px;
    button {
        padding: 12px 32px;
    }
}