<div class='container'>
    <div class='row'>
        <div class='col-1'>

        </div>
        <div class="col-8">
        <h3>Event Passcode</h3>
            <div class="liveFeedArea">
                <div class="feedRow">
                    <p>Please enter the passcode to enter the event.<br/>
                    </p>
                    <div class='row'>
                        <div class='col-6'>
                            <label>Event Passcode</label>
                        </div>
                        <div class='col-6'>
                            <input type='password'  [(ngModel)]="eventPasscode"  name='eventpasscode' class='form-control' />
                        </div>
                        
                        <div class='col-2'>
                            <input type='button' (click)='checkPassword()' value='Enter Event' />
                        </div>
                        <div class='col-10'>

                        </div>

                    </div>
               
                </div>
            </div>
        </div>
    </div>
 </div>
<style>
    
.feedRow  {
  line-height: 24pt;
  border: solid 1px black;
  padding:10px;
  
}
.liveFeed {
	overflow:scroll;
}
div.liveFeedArea>div:nth-of-type(odd) {
  background: #e0e0e0;
}
.eventInfo {
	width:60%;
	border: 1px solid #aaa;
	height:150px;
	padding:10px;
}
.eventInfo input {
	width:100%;
	border: 1px solid #aaa !important;
}
.liveFeed {
	width:40%;
	border: solid 1px #aaa;
	height:150px;
	padding:10px;
}	
</style>
