
<div class='container'>
<div class='row'>
    <div class='col-1'>

    </div>
    <div class='col-9'>
	   <div class="tab-inner">
           <h5>Question </h5>
           <div class='row'>
            <div class='col-11'>
                <label>Please edit the text for first part of question</label>
			  </div>
			  <div class='col-11'>
                <input type='textbox' class='form-control' />
                </div>
            </div>

            <div class='row'>
                <div class='col-11'>
                    <label>Please enter the values the user is allowed to choose from, separated by a comma</label>
                  </div>
                  <div class='col-11'>
                    <input type='textbox' class='form-control' value='1, 5, 10, 25, 50, 100'/>
                    </div>
            </div>

            <div class='row'>
                    <div class='col-11'>
                        <label>Please edit the text for last part of question</label>
                      </div>
                      <div class='col-11'>
                        <input type='textbox' class='form-control' />
                     </div>
            </div>
            <div class='row'>
                <div class='col-11'>
                    <label>When should this question be used?</label>
                  </div>
                  <div class='col-11'>
                    <select class='form-control' >
                        <option value='pre'>Pre-Event/Registration</option>
                        <option value='during'>During Event/Session</option>
                        <option value='post'>Post-Event</option>
                    </select>
                 </div>
            </div>
            <div class='row'>
                <div class='col-11'>
                    <label>Is this a Default Question?</label>
                  </div>
                  <div class='col-11'>
                    <select class='form-control' >
                        <option value='Yes'>Yes</option>
                        <option value='No'>No</option>
                    </select>
                 </div>
            </div>
            <div class='row'>
                <div class='col-11'>
                    <label>Is this a Goal?</label>
                  </div>
                  <div class='col-11'>
                    <select class='form-control' >
                        <option value='Yes'>Yes</option>
                        <option value='No'>No</option>
                    </select>
                 </div>
            </div>

		  <h5>Interest Categories</h5>
		 
		  <div class='row'>
			  <div class='col-11'>
				  <label>You may select more than one Interests to be associated with Question</label>
			  </div>
			  <div class='col-11'>
				  <select  name='interests' class="form-control" multiple="multiple">
				
					<option>Computer Hardware</option>
					<option>Software and Apps</option>
					<option>Vehicle Technology</option>
					<option>Wearables</option>
					<option>Telecommunications</option>
					<option>Audio/High-End/High Performance</option>
					<option>Virtual Reality and Augmented Reality</option>
					<option>Robotics</option>
					<option>Cloud Services</option>
					<option>Sensors and Biometrics</option>
					<option>Video</option>
					<option>Gaming</option>
					<option>Drones</option>
					<option>3D Printing</option>
					<option>Digital Health</option>
					<option>Smart Cities</option>
					<option>Cyber Security and Privacy</option>
					<option>Digital Imaging/Photography</option>
					<option>Mobile Payments/Digital Finance/E-Commerce</option>
					<option>Lifestyle (Family, Beauty, Pet)</option>
					<option>Wireless Services</option>
					<option>Content and Streaming Services</option>
					<option>Fitness</option>
					<option>Education</option>
					<option>Sports Technology and eSports</option>
					<option>Travel and Leisure</option>
					<option>Other Consumer Technology</option>
					<option>Sustainability</option>
					<option>Public Policy/Government</option>
					<option>Accessibility<option>
				  </select>
			  </div>
		  </div>
	   </div>
	</div>
  </div>
</div>