<div class="modal-header border-0 pb-0">
    <h2 class="modal-title w-100 text-center m-0"> Delete this code? </h2>
</div>
<div class="modal-footer border-0">
    <div class="container-fluid">
        <div class="row m-0">
            <div class="col-12 p-0 d-flex align-items-center justify-content-center">
                <button class="btn mx-2" (click)="delete()">
                    Yes
                </button>
                <button class="btn mx-2" (click)="cancel()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>