.modal-header {
    .modal-title {
        color: var(--label-color);
    }
}
.modal-footer {
    button {
        color: #004369;
        border: 0;
        background-color: #f4f4f4;
        height: 28px;
        border-radius: 26px;
        width: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}