.modal-body {
    max-height: 70vh;
    .thumbnail {
        min-height: 300px;
        ::ng-deep canvas {
            width: 100%;
        }
        .loading-spinner {
            border: 10px solid #f3f3f3;
            border-radius: 50%;
            border-top: 10px solid #f44336;
            width: 80px;
            height: 80px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
            position: absolute;
            top: 50px;
        }
        .loading-spinner-complete {
            border: 10px solid #f44336;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
            position: absolute;
            top: 50px;
            left: 110px;
        }
    }
}
.modal-footer {
    padding: 0 16px 24px;
    button {
        padding: 12px 32px;
    }
}