<div *ngIf="card">
  <div class="card rounded-bottom border border-light shadow">
    <div class="header-bar"></div>
    <div class="card-body">
      <h2 class="card-title">{{ card.title }}</h2>
      <hr />
      <div *ngIf="waiting" style="height: 18em;padding:25% 50%;">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="!waiting" class="container">
        <div class="row">
          <div class="col border-right">
            <h4>
              {{
                idx == 1
                  ? (card.col1.amount | money)
                  : (card.col1.amount | number)
              }}
            </h4>
            <h5>{{ card.col1.detail_info }}</h5>
          </div>
          <div class="col">
            <h4>
              {{
                idx == 1
                  ? (card.col2.amount | money)
                  : (card.col2.amount | number)
              }}
            </h4>
            <h5>{{ card.col2.detail_info }}</h5>
          </div>
        </div>
        <div *ngIf="card.variance != undefined">
          <div class="row gray-bgc">
            <div class="col">
              <p class="card-text">% Variance</p>
            </div>
            <div class="col">{{ card.percent_variance }}%</div>
          </div>
          <div class="row gray-bgc">
            <div class="col-sm">{{ card.variance_symbol }} Variance</div>
            <div class="col-sm">
              {{
                idx == 1 ? (card.variance | money) : (card.variance | number)
              }}
            </div>
          </div>
        </div>
        <div *ngIf="card.col3">
          <div class="row">
            <div class="col">
              <h4>{{ card.col3.amount | number }}</h4>
              <h5>{{ card.col3.detail_info }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
