.modal-header {
    border: 0;
    background-color: #007497;
    .modal-title {
        color: white;
    }
}

.modal-body {
    padding: 24px 32px 4px;
    form {
        label {
            color: #007497;
            font-weight: 500;
            margin: 0;
            height: 38px;
            display: flex;
            align-items: center;
        }
        input {
            box-shadow: none;
            color: #007497;
        }
        select {
            color: #007497;
        }
        .createSpeakerBtn {
            font-size: 14px;
            padding: 2px 0;
            cursor: pointer;
        }

        .customCheckbox {
            cursor: pointer;
            width: fit-content;
            position: relative;
            input[type="checkbox"] {
                height: 22px;
                width: 22px;
                vertical-align:middle;
                box-shadow: none;
                margin:0 0.4em 0 0;
                border:1px solid #007497;
                -webkit-appearance:none;
                -webkit-transition:box-shadow 200ms;
            }
            
            input[type="checkbox"] {
               -webkit-border-radius:4px;
               border-radius:4px;
            }
            
            input[type="checkbox"]:not(:disabled):hover {
               border-color:#007497;
            }
            
            input[type="checkbox"]:active:not(:disabled) {
               border-color:#007497;
            }
            
            input[type="checkbox"]:focus {
               outline:none;
            }
            
            input[type="checkbox"]:checked {
               border-color:#007497;
               background-color:#007497;
            }
            
            input[type="radio"]:checked:before {
                display:block;
                height:0.4em;
                width:0.4em;
                position:relative;
                left:0.4em;
                top:0.4em;
                background:#fff;
                border-radius:100%;
                content:'';
            }
            
            input[type="checkbox"]:checked:before {
                content:'';
                display:block;
                border:solid #fff;
                -webkit-transform:rotate(45deg);
                transform:rotate(45deg);
                width: 6px;
                height: 14px;
                border-width: 0 2px 2px 0;
                margin-left: 7px;
                margin-top: 1px;
            }
            
            input:disabled {
               opacity:.6;
               box-shadow:none;
               background:rgba(0, 0, 0, 0.1);
               box-shadow:none;
            }
        }
    }
}

.modal-footer {
    .addBtn {
        font-size: 24px;
        color: #6ebf49;
    }
}