<div class="modal-header">
    <h2 class="modal-title w-100 text-center m-0"> Create Duplicate Event </h2>
</div>
<div class="modal-body">
    <div class="container">
        <form [formGroup]="duplicateEventForm">
            <div>
                <p>
                    By proceeding with duplicating this event, you will be generating a new event with the same setup as
                    this event. Please select the configurations you want to copy-over to the new event.
                </p>
            </div>
            <div class="form-row mt-0 mb-3">
                <div class="col-12">
                    <input name="text" class="form-control" formControlName="evtName" maxlength="250" placeholder="New Event Name"
                        [class.border-danger]="lf.evtName.invalid && (lf.evtName.dirty || lf.evtName.touched)"
                        [class.border-success]="lf.evtName.valid && (lf.evtName.dirty || lf.evtName.touched)">
                    <div *ngIf="lf.evtName.invalid && (lf.evtName.dirty || lf.evtName.touched)"
                        class="help-block mt-1 text-danger">
                        <div *ngIf="lf.evtName.errors.required">
                            * New event name is required.
                        </div>
                        <div *ngIf="lf.evtName.errors.duplicateName">
                            * Duplicated event name is not allowed.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row px-4 py-2">
                <div class="col-12 col-sm-6">
                    <mat-checkbox formControlName="regTypes" color="primary">
                        Reg Types
                    </mat-checkbox>
                </div>
                <div class="col-12 col-sm-6">
                    <mat-checkbox formControlName="floorplan" color="primary">
                        Floorplan
                    </mat-checkbox>
                </div>
            </div>
            <div class="form-row px-4 py-2">
                <div class="col-12 col-sm-6">
                    <mat-checkbox formControlName="costsAndPackages" color="primary">
                        Costs / Packages
                    </mat-checkbox>
                </div>
                <div class="col-12 col-sm-6">
                    <mat-checkbox formControlName="questions" color="primary">
                        Demographic Questions
                    </mat-checkbox>
                </div>
            </div>
            <div class="form-row px-4 py-2">
                <div class="col-12 col-sm-6">
                    <mat-checkbox formControlName="discounts" color="primary">
                        Discounts
                    </mat-checkbox>
                </div>
                <div class="col-12 col-sm-6">
                    <mat-checkbox formControlName="pageBuilder" color="primary">
                        Page Builder
                    </mat-checkbox>
                </div>
            </div>
            <div class="form-row px-4 py-2">
                <div class="col-12 col-sm-6">
                    <mat-checkbox formControlName="qualifications" color="primary">
                        Qualifications
                    </mat-checkbox>
                </div>
                <div class="col-12 col-sm-6">
                    <mat-checkbox formControlName="pageBuilder" color="primary">
                        Exhibitor Allotments
                    </mat-checkbox>
                </div>
            </div>
            <div class="form-row px-4 py-2">
                <div class="col-12 col-sm-6">
                    <mat-checkbox formControlName="sessions" color="primary">
                        Sessions
                    </mat-checkbox>
                </div>
                <div class="col-12 col-sm-6">
                    <mat-checkbox formControlName="memberships" color="primary">
                        Memberships
                    </mat-checkbox>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer border-0">
    <div class="container-fluid">
        <div class="row m-0">
            <div class="col-12 p-0 d-flex align-items-center justify-content-end">
                <button class="btn btn-sm btn-primary text-uppercase mr-3" color="primary" (click)="save()"> Save </button>
                <button class="btn btn-sm btn-secondary text-uppercase" color="primary" (click)="closeModal()"> Cancel </button>
            </div>
        </div>
    </div>
</div>