<div class="compuHeader">
  <div class="welcomeMessage text-center p-4">
    Password Reset
  </div>
</div>

<div class="container">
  <div class="row mt-0">
    <div class="col-12 col-sm-2 col-lg-3"></div>
    <div class="col-12 col-sm-8 col-lg-6 text-center">
      <form [formGroup]="forgotPwForm">
        <h2 class="m-0 my-3"> Enter your email to reset your password </h2>
        <div class="d-flex justify-content-center my-3">
          <input
            type="text"
            formControlName="emailaddress"
            placeholder="Email"
            name="email"
            class="form-control"
          />
        </div>
      </form>
      <div class="text-center my-2">
        <a href="javascript:void(0);" class="btn submitBtn" [class.invalidField]="lf.emailaddress.invalid || !lf.emailaddress.value" (click)="submit()">
          Submit
        </a>
      </div>
      <h3 class="responseMessage m-0 my-2" *ngIf="isSuccess || infoMessage">
        <span *ngIf="isSuccess" class="success-message">
          A password link bas been sent!
        </span>
        <span *ngIf="!isSuccess" class="failed-message">
          {{ infoMessage }}
        </span>
      </h3>
      <div class="my-2">
        <a href="javascript:void(0);" class="btn returnLogin" routerLink="/login"> Return to log in </a>
      </div>
    </div>
    <div class="col-12 col-sm-2 col-lg-3"></div>
  </div>
</div>