.compuHeader {
  .welcomeMessage {
    font-size: 30px;
    background-color: #004369;
    color: white;
  }
}

h2, h3 {
  color: #004369;
}

input[type=text] {
  width: 350px;
  background: #d9d9d9;
  box-shadow: none;
  border: 0;
  height: 48px;
  &::placeholder {
    color: #007497;
  }
}

.submitBtn {
  font-size: 18px;
  color: #004369 !important;
  &.invalidField {
    color: #a6a6a6;
  }
  &:focus {
    box-shadow: none;
  }
}

.returnLogin {
  font-size: 18px;
  color: #007497 !important;
}

.responseMessage {
  font-weight: 500;
  .success-message {
    color: #004369 !important;
  }
  .failed-message {
    color: red !important;
  }  
}